# Python Virtual Environment
backend/MINI_HERC/
# Node dependencies
frontend/node_modules/
frontend/dist/
frontend/.env

# Python virtual environments
backend/MINI_HERC/
backend/__pycache__/
backend/*.pyc
.venv/
env/
venv/

# IDE files
.vscode/
.DS_Store